h2 a {
    text-decoration: none;
    color: rgb(196, 18, 18);
    position: relative;
}

h2 a::after {
    content: "";
    position: absolute;
    bottom: -5px;
    height: 3px;
    width: 0;
    left: 0;
    background-color: rgb(196, 18, 18);
    transition: width .3s ease;
}

h2 a:hover::after {
    width: 100%;
}